{% extends "::base.html.twig" %}

{% block title %}BookshelfProjectBundle:Bookshelf:showAll{% endblock %}

{% block body %}
<h1>Welcome to the Bookshelf:showAll page</h1>
    <a href="path()">add new bookshelf</a>
{% endblock %}
